/********* FONTS ************/


/********* RESETERS ************/
html {
  box-sizing: border-box;
  font-family: sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}
ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
svg {
  max-width: 100%;
  display: block;
}

article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

/********* VARIABLES ************/
$black: #000;
$white: #fff;

/********* HELPERS ************/
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}

.flex-between-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width:767px) {
  .flex-between-column {
    flex-direction: column;
    justify-content: center;
  }

  .wrapper {
    padding: 0 20px;
  }
}

/********* NAVIGATION ************/
.nav {
  padding: 20px 0;
  background-color: $black;

  img {
    max-width: 200px;
    width: 100%;
  }

  li {
    display: inline-block;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    display: block;
    font-size: 14px;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
  }
}

/********* HERO HEADER ************/
.header {
  min-height: calc(100vh - 118px);
}