/********* FONTS ************/
@font-face {
  font-family: 'acherus_militant_1bold';
  src: url('/fonts/acherus_militant_1_-_bold.otf-webfont.woff2') format('woff2'),
       url('/fonts/acherus_militant_1_-_bold.otf-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'metropolissemi_bold';
  src: url('/fonts/metropolis-semibold-webfont.woff2') format('woff2'),
       url('/fonts/metropolis-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'metropolisbold';
  src: url('/fonts/metropolis-bold-webfont.woff2') format('woff2'),
       url('/fonts/metropolis-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'metropolisextra_bold';
  src: url('/fonts/metropolis-extrabold-webfont.woff2') format('woff2'),
       url('/fonts/metropolis-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'metropolislight';
  src: url('/fonts/metropolis-light-webfont.woff2') format('woff2'),
       url('/fonts/metropolis-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'metropolismedium';
  src: url('/fonts/metropolis-medium-webfont.woff2') format('woff2'),
       url('/fonts/metropolis-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/********* RESETERS ************/
html {
  box-sizing: border-box;
  font-family: "metropolismedium", sans-serif;
}

html, body {
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}
ul[class],
ol[class] {
  padding: 0;
}

strong,b {
  font-family: "metropolisbold";
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
svg {
  max-width: 100%;
  display: block;
}

article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

/********* VARIABLES ************/
$black: #000;
$grey: #F1F1F1;
$white: #fff;
$main: #1CA1FC;
$formElBg: #F5F8FA;
$formBorder: #CBD6E2;

/********* HELPERS ************/
.wrap {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}

.flex-between-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-between {
  display: flex;
  flex-direction: column;
}

section,
footer {
  padding: 120px 0;
  text-align: center;
}

footer {
  text-align: center;
}

@media (max-width:1024px) {
  .flex-between-column,
  .flex-center-column {
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width:767px) {
  section {
    padding: 60px 0;
  }

  .wrap {
    padding: 0 20px;
  }
}

/********* BUTTONS && LINKS ************/
.cta {
  display: inline-block;
  padding: 20px;
  background: linear-gradient(210deg, #125EF1 0%, #40D3FF 100%);
  border-radius: 1000px;
  color: $white;
  text-decoration: none;
  font-family: "metropolisbold";
  min-height: 79px;
  min-width: 340px;
  font-size: 30px;
  text-align: center;
  transition: all 0.5s ease;

  &:hover {
    opacity: 0.75;
  }
}

@media (max-width:1024px) {
  .cta {
    font-size: 22px;
    min-height: 0;
  }
}

.link {
  color: $main;
  display: inline-block;
  text-decoration: underline;
  font-weight: bold;
  font-family: "metropolismedium", sans-serif;
}

/*********** FONTS ************/
/* 
h1,
.h1 {
  --fluid-type-min: 36px;
  --fluid-type-max: 60px;
  --fluid-type-target: 2.8vw;
  font-weight: 700;
  font-size: clamp(var(--fluid-type-min, 1rem),
      calc(1rem + var(--fluid-type-target, 3vw)),
      var(--fluid-type-max, 1.3rem));
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.0005em;
  margin-bottom: 32px;
}

h2,
.h2 {
  --fluid-type-min: 36px;
  --fluid-type-max: 48px;
  --fluid-type-target: 3vw;
  font-weight: 700;
  font-size: clamp(var(--fluid-type-min, 1rem),
      calc(1rem + var(--fluid-type-target, 3vw)),
      var(--fluid-type-max, 1.3rem));
  line-height: 1.25;
  margin-bottom: 24px;
}

h3,
.h3 {
  --fluid-type-min: 30px;
  --fluid-type-max: 36px;
  --fluid-type-target: 1vw;
  font-weight: 700;
  font-size: clamp(var(--fluid-type-min, 1rem),
      calc(1rem + var(--fluid-type-target, 3vw)),
      var(--fluid-type-max, 1.3rem));
  line-height: 1.2;
  margin-bottom: 16px;
}

h4,
.h4 {
  font-size: 20px;
  font-style: italic;
  line-height: 1.4;
  font-weight: 300;
} */

h1,h2,h5 {
  margin: 0;
  text-transform: uppercase;
}

h4,h3 {
  margin: 0;
}

h1 {

}

h2 {
  font-size: 120px;
  font-family: "acherus_militant_1bold";
  line-height: 1;
}

h3 {
  font-family: "metropolisbold";
  font-size: 50px;
  line-height: 1.1;
}

h4 {
  font-family: "acherus_militant_1bold";
  font-size: 24px;
  line-height: 1.1;
}

h5 {
  font-family: "metropolisbold";
  font-size: 18px;
  line-height: 1.1;
  text-transform: capitalize;
}

p {
  font-family: "metropolislight", sans-serif;
  font-size: 24px;
  line-height: 1.6;
}

@media (max-width:1024px) {
  h2 {
    font-size: 40px;
  }
}

/********* NAVIGATION ************/
.nav {
  padding: 20px 0;
  background-color: $black;
  top: 0; left: 0; right: 0;
  position: relative;
  z-index: 999;

  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  img {
    max-width: 200px;
    width: 100%;
  }

  li {
    display: inline-block;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    display: block;
    font-size: 14px;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "metropolislight", sans-serif;
  }
}

.hamburger{
  width: 60px;
  height: 45px;
  position: absolute;
  transform-origin: center;
  transform: rotate(0deg) scale(0.7);
  transition: .5s ease-in-out;
  cursor: pointer;
  right: 20px;
  display: none;
}

.hamburger span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: $white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 0px;
}

.hamburger span:nth-child(2) {
  top: 18px;
}

.hamburger span:nth-child(3) {
  top: 36px;
}

.hamburger.open span:nth-child(1) {
  top: 18px;
  transform: rotate(135deg);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.hamburger.open span:nth-child(3) {
  top: 18px;
  transform: rotate(-135deg);
}

@media (max-width:1024px) {
  .nav {
    &-items {
      opacity: 0;
      pointer-events: none;
      display: none;
    }
  }

  .hamburger {
    display: block;
  }
}

@media (max-width:767px) {
  .nav {
    height: 90px;

    img {
      width: 120px;
    }
  }
}


/********* HERO HEADER ************/
.header {
  min-height: calc(100vh - 118px);
  background-color: $black;
  position: relative;
  padding: 0 20px;

  h1 {
    color: $white;
    margin-bottom: 30px;
    font-size: 40px;
    margin-top: -7px;
  }

  &-video {
    width: 70%;
    position: absolute;
    left: -10%;
    top: 50%;
    transform: translateY(-54%);

    h2 {
      color: $white;
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 12vw;
      transform: translateX(-50%) translateY(-50%);
      letter-spacing: -2px;
      mix-blend-mode: overlay;
    }

    video {
      width: 100%;
      height: auto;
    }
  }

  &-info {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
  }

  &-scroll {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    cursor: pointer;

    img {
      margin: 0 auto 10px;
      max-width: 26px;
    }

    p {
      font-size: 14px;
      color: $white;
    }
  }
}

@media (max-width:1024px) {
  .header {
    justify-content: flex-start;

    h1 {
      font-size: 26px;
      margin-top: 0;
      text-align: center;
    }

    &-video, 
    &-info {
      position: relative;
      left: initial;
      top: initial;
      transform: translateY(0);
      width: 100%;
    }

    &-video {
      position: relative;

      video {
      }

      h2 {
        font-size: 18vw;
      }
    }

    &-info {
      position: relative;
      text-align: center;
    }
  }
}

@media (max-width:767px) {
  .header {
    padding: 0 20px;
  }
}

/********* ABOUT US ************/
.about-us {
  p {
    margin: 78px  auto;
    max-width: 768px;
  }

  &-advantages {
    margin-bottom: 30px;

    img {
      margin: 0 auto 24px;
    }

    &__item {
      width: 20%;
      text-align: center;
      padding: 10px;
    }
  }

  h3{
    margin-bottom: 100px;
  }
}

@media (max-width:1024px) {
  .about-us {
    &-advantages {
      flex-wrap: wrap;
      flex-direction: row;

      &__item {
        width: 50%;
        margin-bottom: 20px;
      }
    }

    h3 {
      font-size: 30px;
    }
  }
}

@media (max-width:767px) {
  .about-us {
    &-advantages {
      &__item {
        width: 100%;
      }
    }
  }
}

/********* ACQUISITION ************/
.acquisition {
  background-color: $black;
  width: 100%;
  max-width: 93%;
  position: relative;
  left: 3.5%;

  h2,h3,p {
    color: $white;
  }

  h2 {
    margin-top: -19px;
  }

  p {
    font-family: "metropolislight";
    font-size: 36px;
    max-width: 830px;
    margin: 60px auto;
  }
}

@media (max-width:1024px) {
  .acquisition {
    padding: 70px 0;

    p {
      font-size: 26px;
      margin: 40px auto;
      line-height: 36px;
    }
  }
}


/********* STARTED ************/
.started {
  h2 {
    max-width: none;
  }

  .form {
    max-width: 1212px;
    margin: 90px auto;
    text-align: left;

    input{
      width: 27px;
      height: 27px;
      border-radius: 27px;
    }

    &-row {
      display: flex;
      align-items: flex-start;
      margin-bottom: 36px;
    }

    &-info {
      margin-left: 20px;

      h3 {
        margin-top: -8px;
      }

      p {
        &:first-of-type {
          margin-top: 10px;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .form {
    h3 {
      font-size: 24px;
      line-height: 1.6;
    }
    p {
      font-size: 16px;
    }
  }
}


/********* ACCOUNTS MANAGERS ************/
.accounts {
  min-height: 100vh;
  display: flex;
  background-image: url("/img/team-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  h2 {
    font-size: 100px;
    color: $white;
  }

  .wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .accounts {
    h2 {
      font-size: 40px;
    }
  }
}

/********* EVENTS ************/
.events {
  padding: 120px 30px;
  
  &>p {
    margin-top: 80px;
  }

  &-locations {
    margin: 80px 0 60px;

    h3 {
      color: $white;
      font-family: "metropolislight";
      font-weight: 100;
      position: relative;
      margin-top: 10px;
      padding: 6px;
      font-size: 5.9vw;
      text-align: center;
    }

    &__item {
      background-color: $black;
      width: 32.2%;
      position: relative;

      &-top {
        img {
          margin: -43px auto 20px;
          max-width: none;
          width: 100%;
        }
      }

      &-bottom {
        text-align: center;
        padding: 0 10px;

        img {
          margin: 4px auto 10px;
          max-height: 46px;
        }

        p {
          color: $white;
          font-size: 18px;
          line-height: 1.4;
          font-weight: bold;
          letter-spacing: -1px;
          font-family: "metropolissemi_bold";
          margin: 20px auto;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .events {
    padding: 60px 20px;

    &-locations {
      h3 {
        font-size: 8.9vw;
      }

      &__item {
        width: 100%;
        margin-bottom: 30px;
        max-width: 600px;
      }
    }
  }
}

@media (max-width: 767px) {
  .events {
    padding: 60px 20px;
  }
}


/********* FOOTER ************/
.footer {
  background-color: $black;

  .cta {
    margin: 40px 0 100px;
  }

  .wrap {
    max-width: 768px;
  }

  h2 {
    font-weight: bold;
    font-size: 200px;
    color: $white;

    span {
      font-size: 70px;
      letter-spacing: -4px;
      text-transform: none;
      display: block;
    }
  }

  &-links {
    display: flex;
    max-width: 500px;
    margin: 0 auto;
    align-items: flex-start;

    &__left {
      img {
        max-width: 200px;
      }
    }

    &__right {
      text-align: right;

      a {
        color: $white;
        display: inline-block;
        margin-bottom: 1rem;
        text-decoration: none;
      }
    }
  }
}

@media (max-width:1024px) {
  .footer {
    align-items: center;
    padding: 60px 0;

    h2 {
      font-size: 100px;

      span {
        font-size: 50px;
      }
    }

    &-links {
      align-items: center;

      &__right {
        text-align: center;
        margin-top: 20px;
      }
    }
  }
}

/*********** FORMS PAGES ************/
.forms {
  text-align: left;
  padding: 72px 0 153px;

  strong {
    font-size: 18px;
    display: inline-block;
    margin-bottom: 30px;
  }

  h3,
  p {
    max-width: 768px;
    text-align: center;
    margin: 0 auto;
  }

  &>p {
    margin-bottom: 60px;
  }

  h3 {
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  &-form {
    background-color: $white;
    max-width: 1000px;
    width: 100%;
    box-shadow: 0 0 20px #00000029;
    padding: 48px;
    margin: 0 auto;

    label {
      margin-bottom: 9px;
      display: inline-block;
    }

    &__title {
      margin: 40px 0 30px;

      &:nth-last-of-type(2) {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }

    &__row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 34px;

      &>div {
        width: 47%;
        position: relative;
      }

      &.checkbox {
        max-width: 420px;
        flex-wrap: nowrap;
        margin: 0 auto;
        align-items: flex-start;

        input {
          display: inline-block;
          width: 18px;
          height: 18px;
          border: 1px solid $formBorder;
          background-color: $formElBg; 
          margin-right: 10px;
        }

        p {
          font-size: 13px;
          text-align: left;
          margin: 0;
          display: inline-block;
        }
      }

      &.full {

        &>div {
          width: 100%;
        }
      }
    }

    &__cta {
      text-align: center;
    }

    input:not([type="checkbox"]), select, textarea {
      width: 100%;
      min-height: 52px;
      background-color: $formElBg;
      border: 1px solid $formBorder;
      border-radius: 4px;
      padding: 0 10px;
      resize: none;
    }

    textarea {
      padding: 10px;
      min-height: 200px;
      width: 100%;
    }

    .cta {
      margin: 40px auto;
    }
  }
}

@media (max-width:767px) {
  .forms {
    padding: 48px 0;

    &-form {
      box-shadow: none;
      padding: 0;

      &__row {
        margin-bottom: 0;

        &.full {
          margin-bottom: 20px;
        }

        &> div {
          width: 100%;
          margin-bottom: 20px;
        }
      }
    }
  }
}

/*Forms page variants*/
.signup {
  .forms-form__row {
    justify-content: center;
  }

  div > .link {
    position: absolute;
    right: 0;
    top: calc(100% + 8px);
  }

  .forms-form__cta p {
    font-size: 16px;
    margin: 20px auto;
  }
}